<!-- prettier-ignore -->
{% extends "_base.html" %}

{% import "components/movement.html" as movement %}
{% block main %}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h2 class="subtitle is-3 has-text-centered">
                        Gastos mensuales
                    </h2>
                    <canvas
                        id="month_expenses"
                        width="300"
                        height="300"
                    ></canvas>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h2 class="subtitle is-3 has-text-centered">
                        Últimos movimientos
                    </h2>

                    <div data-ref="movements"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">3</div>
        </div>
    </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block js %}
<script type="module" src="/js/home.js"></script>

<script src="/js/partials/movement.js"></script>
<script src="/js/partials/movement-list.js"></script>
{% endblock %}
