<!-- prettier-ignore -->
{% set activeLink = "home" %}
{% extends "_base.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title">
                        Gastos mensuales
                    </h2>
                    <div style="width: 100%; height: 320px">
                        <canvas data-ref="monthExpenses"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" data-testid="last-movements">
                <div class="card-header">
                    <p class="card-header-title">Últimos movimientos</p>
                </div>
                <div class="card-content">
                    <div data-ref="movements"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-header-title">
                        Balance mensual
                    </h2>
                    <div style="width: 100%; height: 300px">
                        <canvas data-ref="monthBalance"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block js %}
<script type="module" src="/js/home.js"></script>

<script src="/js/partials/movement.js"></script>
<script src="/js/partials/movement-list.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
