<!-- prettier-ignore -->
{% set activeLink = "home" %}
{% extends "_base.html" %}

{% block main %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">1</div>
        </div>

        <div class="column">
            <div class="card" data-testid="last-movements">
                <div class="card-header">
                    <p class="card-header-title">Últimos movimientos</p>
                </div>
                <div class="card-content">
                    <div data-ref="movements"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card">3</div>
        </div>
    </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block js %}
<script type="module" src="/js/home.js"></script>

<script src="/js/partials/movement.js"></script>
<script src="/js/partials/movement-list.js"></script>
{% endblock %}
